{% extends "base.html" %}

{% block title %}A Propos de V2V Music {% endblock %}

{% block css %}
{{parent()}} 
<link rel="stylesheet" href="CSS/apropos.css">
{% endblock %}
        
{% block body %}
    <div class= "main">

        <h2>Qu'est-ce que V2V Music?</h2>
        <p> <b>Le société V2V Music </b> a été créé afin de mettre en avant les <b>artistes indépendants</b> qui souhaitent se faire une image dans le monde de la musique.
        Nombreux sont les artistes qui restent dans l'ombre des grands noms, mais pourtant ils ont du talent et ils méritent d'être entendu. Parmis ces artistes
        indépendants, vous pouvez retrouver <b> des drillers, des rappeurs, des chanteurs mais aussi des compositeurs/producteurs</b>. Grâce aux auditeurs, qui donneront 
        leurs avis et noteront les morceaux, chaque artiste pourra se faire une idée de son niveau et s'améliorer afin de toucher un plus large public. 
        <br>
        <b>V2V Music c'est la plateforme d'écoute pour découvrir des nouveaux artistes de n'impporte quelle catégorie. Ils commencent avec nous afin d'arriver au sommet
        de leur talent.</b>  </p>

        <h2> Ce que nous proposons? </h2>
        <p> V2V Music propose du contenu original d'artistes inconnus du public mais avec du talent. Chaque artiste a son style. C'est 
        pourquoi V2V Music, propose <b>différentes catégories en termes de musiques telles que : la Drill, le Rap, la Mélo, l'Afro mais aussi des catégories instrumentales : RnB, classique, electro, pop.</b>
         <br>Sur V2V Music, tous les morceaux même les plus originaux, vous sont proposés.</p>
    </div>
{% endblock %}


    












