*
{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../image/fond.png);
    background-position-y: 118rem ;
}
img{
    display: block;
    margin: auto;
}
#main{
    flex-direction: column;
    display: flex;
    margin-top: 50px;
}
form{
width: 500px;
flex-direction: column;
display: flex;
align-self: center;
background-color:  rgb(242, 242, 242);
border : 2px solid black;
border-radius: 10px;
box-shadow: 3px 3px 3px black;
padding: 20px;
}
form button{
    display:flex;
    align-self: center;
}  
form h1{
    background-color: rgb(242, 242, 242) ;
    text-align: center;
    color: rgb(134,85,29);
    padding-bottom: 20px;
    font-style: italic;
}
    
.Formulaire
{
display: flex;
justify-content: space-between;
background-color: rgb(242, 242, 242);
margin-bottom:15px;
}
.Formulaire label{
    background-color: rgb(242, 242, 242);
    font-size: 20px;
    color: rgb(134,85,29);
    font-weight: bold;
}
.commentaire{
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    
}
.commentaire label{
    background-color: rgb(242, 242, 242);
    font-size: 20px;
    color: rgb(134,85,29);
    font-weight: bold;  
}
.commentaire textarea{
    padding-bottom: 100px;  border-radius: 5px;
    background-color: rgb(255, 239, 222);
    padding-left: 5px;
}
input{
    border-radius: 5px;
    background-color: rgb(255, 239, 222);
    padding-left: 5px;
}
button{
    background-color: rgb(255, 239, 222);
    border-radius: 20px;
    padding: 2px;
    width: 150px;
    color: rgb(134,85,29);
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 3rem;
    height: 3rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  