#main{
    flex-direction: column;
    display: flex;
    margin-top: 50px;
}
form{
width: 500px;
flex-direction: column;
display: flex;
align-self: center;
background-color:  rgb(242, 242, 242);
border : 2px solid black;
border-radius: 10px;
box-shadow: 3px 3px 3px black;
padding: 20px;
}
form h1{
    background-color: rgb(242, 242, 242) ;
    text-align: center;
    color: black;
    padding-bottom: 20px;
    font-style: italic;
}
  
.formulaire
{
display: flex;
justify-content: space-between;
background-color: rgb(242, 242, 242);
margin-bottom:15px;
}
.formulaire label{
    background-color: rgb(242, 242, 242);
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.commentaire{
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    
}
.commentaire label{
    background-color: rgb(242, 242, 242);
    font-size: 20px;
    color: black;
    font-weight: bold;  
}
.commentaire textarea{
    padding-bottom: 100px;  border-radius: 5px;;
    padding-left: 5px;
}
input{
    border-radius: 5px;
    padding-left: 5px;
}
.form-select{
    padding: 5px;
    margin-bottom: 5px;
}
form button{

    border-radius: 20px;
    padding: 2px;
    width: 150px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-self: center;
}



