*
{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../image/fond.png);
    background-position-y: 118rem ;
    background-position-x: -1rem;
}
img{
    display: block;
    margin: auto;
}
#main{
    flex-direction: column;
    display: flex;
    margin-top: 50px;
}
form{
width: 500px;
flex-direction: column;
display: flex;
align-self: center;
background-color:  rgb(242, 242, 242);
border : 2px solid black;
border-radius: 10px;
box-shadow: 3px 3px 3px black;
padding: 20px;
}
form h1{
    background-color: rgb(242, 242, 242) ;
    text-align: center;
    color: black;
    padding-bottom: 20px;
    font-style: italic;
}  
form button{
    display:flex;
    align-self: center;
}  
.Formulaire
{
display: flex;
justify-content: space-between;
background-color: rgb(242, 242, 242);
margin-bottom: 15px;
}
.Formulaire label{
    background-color: rgb(242, 242, 242);
    font-size: 20px;
    color: black;
    font-weight: bold;
}

input{
    border-radius: 5px;
    padding-left: 5px;
}
input#image{
    background-color: rgb(242, 242, 242);
}
input#audio{
    background-color: rgb(242, 242, 242);
}
button{
    border-radius: 20px;
    padding: 2px;
    width: 150px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}