main{
    display: flex;
    justify-content: center;
}
#wrapper {
    width: 100%;
    max-width:880px;
    margin-top: 20px;
    position: relative;
  }
  
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content {
    display: grid;
    grid-gap: 45px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
  }
  
  figure {
    width: 120px;
    height: 120px;
    margin : 10px;
    text-align: center;
}
figcaption
{
    font-family:Georgia, 'Times New Roman', Times, serif
}
img
{
    width: 120px;
}
