*
{
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
    margin: auto;
}
#main{
    flex-direction: column;
    display: flex;
    margin-top:50px;
}
.container {
    max-width: 720px;
    margin: 0px auto;
    width: 100%;
}

h3{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding-top: 2px;
}
a{
    text-decoration: none;
    color: white;
}

.progressbar{
    height:30px; 
    border-radius:10px;
    color:white;
    background-color: #dfe6e9;
    border-radius: 20px;
    display: flex;
}
.progressionetape, .progressionetape2{
    color: white;
    height: 30px;
    text-align: center;
    font-size: 20px; 
}
.progressionetape, .progressionetape2{
    width: 50%;
}
.degrade{
    display: flex;
    width: 65%;
    background:linear-gradient(to right,#b3b4b8 45%,#8a8a8a 50%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

form{
width: 500px;
padding: 20px;
padding-top: 20px;
display: flex;
align-self: center;
justify-content: space-between;
flex-direction: column;
background-color:  rgb(242, 242, 242);
border : 2px solid black;
box-shadow: 3px 3px 3px black;
border-radius: 10px;
font-weight: bold;
}
form button{
    display:flex;
    align-self: center;
}  
form h1{
    background-color: rgb(242, 242, 242) ;
    text-align: center;
    color: black;
    padding-bottom: 30px;
    font-style: italic;
}
.Formulaire
{
display: flex;
justify-content: space-between;
background-color: rgb(242, 242, 242);
margin-top: 20px;
}
.Formulaire label{
    background-color: rgb(242, 242, 242);
    font-size: 20px;
    width: 500px;
}
input#image{
    background-color: rgb(242, 242, 242);
}
input{
    border-radius: 5px;
    padding-left: 5px;
}
form button{
    border-radius: 20px;
    padding: 2px;
    width: 150px;
    margin-top: 50px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
