
     {% extends "base.html" %}
     
    {% block title %} Connexion{% endblock %}

    {% block css %}
      {{ parent()}}
       <link rel="stylesheet" href="CSS/seconnecter.css">
    {% endblock %}

       {% block header %}<img src ="image/V2V MUSIC LOGO 32.png" width="200" height="200">{% endblock %}

       {% block nav %} {{parent()}} {% endblock %}
  
  {% block body %}
    <div id="main">
        <form> 
            <h1>Se connecter</h1>
            <div class="Formulaire">
                <label for="pseudo" >Identifiant: </label>
                <input type="text" id="pseudo" placeholder="Pseudo/Email..."/>
            </div>
            <div class="Formulaire">
                <label for="mdp">Mot de passe :</label>
                <input type="password" id="mdp" placeholder="Mot de passe"/>
            </div>
              <button>Connexion</button>
            <div id='compte'>
                <h3>Pas de compte ? </h3>
                <a href="sinscrire.php">Créer un compte</a>
            </div>
        </form>
    </div>
    {% endblock %}

    {% block footer %}{{parent()}}{% endblock %}

