*
{
    margin: 0px;
    padding: 0px;
}


img{
    display: block;
    margin: auto;
}
#main{
    flex-direction: column;
    display: flex;
    margin-top:20px;
}
.container {
    max-width: 720px;
    margin: 0px auto;
    width: 100%;
}

h3{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding-top: 2px;
}
a{
    text-decoration: none;
    color: white;
}
.progressbar{
    height:30px; 
    border-radius:10px;
    color:white;
    background-color: #dfe6e9;
    border-radius: 20px;
    display: flex;
}
.progressionetape, .progressionetape2, .progressionetape3{
    color: white;
    height: 30px;
    text-align: center;
    font-size: 20px; 
}
.progressionetape, .progressionetape2,.progressionetape3{
    width: 50%;
}
.degrade{
    display: flex;
    width: 100%;
    background:linear-gradient(to right,#b3b4b8,#8a8a8a,#5b5a5a);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#form{
width: 400px;
padding: 70px;
padding-top: 20px;
display: flex;
align-self: center;
justify-content: space-between;
flex-direction: column;
background-color:  rgb(242, 242, 242);
border : 2px solid black;
box-shadow: 3px 3px 3px black;
border-radius: 10px;
}
#form button{
    display:flex;
    align-self: center;
}  
#form h1{
    background-color: rgb(242, 242, 242) ;
    text-align: center;
    color: black;
    padding-bottom: 50px;
    font-style: italic;
}
.Formulaire
{
display: flex;
justify-content: space-between;
background-color: rgb(242, 242, 242);
}
.Formulaire label{
    background-color: rgb(242, 242, 242);
    font-size: 20px;;
}
#fieldset{
    border-color: black;
    border-radius: 1px;
    background-color: rgb(242, 242, 242);
}
#fieldset label, legend, input, #choix{
    background-color: rgb(242, 242, 242);
}
#legend{
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

#choix{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
input{
    border-radius: 5px;
    padding-left: 5px;
}
#button{
    border-radius: 30px;
    padding: 2px;
    width: 150px;
    margin-top: 30px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

