*
{
    margin: 0px;
    padding: 0px;

}
body{
    background-image: url(../image/fond.png);
    background-position-y: -143rem ;
}
:root
{
    --hauteur-menu: 60px;
}
header
{
    display: flex;
    justify-content: space-between;
}
#image{
margin-left: 500px;
}
#image img{
    width: 250px;
}
#bouton button
{
   float: right;
   height: 30px;
   width: 100px;
   color: black;
   background-color:white;
   margin: 10px;
   box-shadow: inset 3px 3px 4px rgba(255, 255, 255, 0.6), inset -3px -3px 4px rgba(0, 0, 0, 0.6);
   border-radius: 20px;
}
#bouton button:hover 
{
    background-color:rgb(156, 151, 149);
}

h2
{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
nav
{
    position:sticky;
    width: 100%;
    font-size: 20px;
    top: 0%;
    /* border: 1px solid black; */
}
nav > ul 
{
    display: flex;
    text-align: center;
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}
nav ul
{
    list-style-type: none ;
}
nav > ul > li 
{
   /* background-color: rgb(122, 97, 85);*/
   background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}
nav > ul > li > a 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
li a
{
    text-decoration: none;
    color: black;
    /*background-color: rgb(122, 97, 85);*/
}
.menu-deroulant > a:after
{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}
.sous-menu
{
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    /* background: linear-gradient(#407cc9, #2843ca); */
    background-color: white;
}
  
.sous-menu > li > a
{
    height: 50px;
    padding-left: 2rem;
    width: 100%;
    align-items: center;
    display: flex;
   /* background: linear-gradient(#345ae0, #2c82e4);*/
    /*background-color:rgb(140, 120, 112);*/
    color : black;
}
@keyframes apparitionSousMenu{
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid rgb(0, 0, 0);
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid rgb(5, 5, 5);
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
.menu-deroulant:hover > .sous-menu
{
    animation: apparitionSousMenu 1s forwards;
}
.bouton input{
    margin: 20px;
    padding-left :10px;
    font-size: 15px;
    color: rgb(134,85,29)
}
.bouton button{
    padding: 5px;
    border-radius: 10px;
}
.bouton button:hover{
    background-color:rgb(156, 151, 149);
}
img
{
    width: 120px;
}
p
{
    text-align: center;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer 
{
    display: flex;
    justify-content: center;
    color:black;
    width: 100%;
}
/*footer ul
{
    /*background-color: lightblue;*/

audio
{
    border: thick double lightblue;
}
.image-container
{
    display: flex;
    justify-content: center;
}
figure
{
    margin : 10px;
    text-align: center;
}
figcaption
{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.image
{
width: 5px;
/*background-color: rgb(132, 112, 104);*/
}
/*.text
{
    /*background-color:rgb(132, 112, 104);*/
