header
{
    text-align: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header img 
{
    width: 300px;
    height: auto;
}
button
{
   float: right;
   height: 60px;
   width: 150px;
   color: black;
   background-color: skyblue;
   margin: 10px;
}
h2
{
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}
:root
{
    --hauteur-menu: 60px;
}
*
{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}
nav
{
    width: 100%;
    font-size: 20px;
    position: sticky;
    top: 0%
}
nav > ul 
{
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}
nav ul
{
    list-style-type: none ;
}
nav > ul > li 
{
    background-color: skyblue;
    position: relative;
    height: 100%;
    flex: 1;
}
nav > ul > li > a 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
li a
{
    text-decoration: none;
    color: black;
    background-color: skyblue;
}
.menu-deroulant > a:after
{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}
.sous-menu 
{
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}
  
.sous-menu > li > a 
{
    height: 50px;
    padding-left: 2rem;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: lightblue;
}
@keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid blue;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid blue;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
.menu-deroulant:hover > .sous-menu
{
    animation: apparitionSousMenu 1s forwards;
}
img
{
    width: 150px;
}
p
{
    text-align: center;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer 
{
    display: flex;
    padding: 20px;
    justify-content: center;
    color:black;
    width: 100%;
}
footer > ul
{
    background-color: lightblue;
}
audio
{
    border: thick double lightblue;
}
.image-container
{
    display: flex;
    justify-content: center;
}
figure
{
    margin : 10px;
    text-align: center;
}
figcaption
{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.image
{
width: 10px;
background-color: lightblue;
}
.text
{
    background-color: lightblue;
}
