*
{
    margin: 0px;
    padding: 0px;

}
body{
    background-image: url(../image/fond.png);
    background-repeat: no-repeat;
}
:root
{
    --hauteur-menu: 60px;
}
header
{
    display: flex;
    justify-content: space-between;
}
#image{

   width: 100%;
   display: flex;
   justify-content: center;
}
#image img{
    width: 250px;
}
#bouton {
    position: absolute;
    top: 20px;
    right: 20px;
}
#bouton a {
    display: inline;
}
#bouton button
{
   height: 30px;
   width: 120px;
   color: black;
   background-color:white;
   margin: 10px;
   box-shadow: inset 3px 3px 4px rgba(255, 255, 255, 0.6), inset -3px -3px 4px rgba(0, 0, 0, 0.6);
   border-radius: 20px;
}
#bouton button:hover 
{
    background-color:rgb(156, 151, 149);
}

h2
{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
nav
{
    position:sticky;
    width: 100%;
    font-size: 20px;
    top: 0%;

}
nav > ul 
{
    display: flex;
    text-align: center;
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
}
nav ul
{
    list-style-type: none ;
}
nav > ul > li 
{
   background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}
nav > ul > li > a 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
li a
{
    text-decoration: none;
    color: black;
}
.menu-deroulant > a:after
{
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}
.sous-menu
{
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    background-color: white;
}
  
.sous-menu > li > a
{
    height: 50px;
    padding-left: 2rem;
    width: 100%;
    align-items: center;
    display: flex;
    color : black;
}
@keyframes apparitionSousMenu{
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid white
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid white;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
.menu-deroulant:hover > .sous-menu
{
    animation: apparitionSousMenu 1s forwards;
}
main {
    min-height: calc(100vh - 243.95px - 60px - 60px);
}
.bouton input{
    margin: 20px;
    padding-left :10px;
    font-size: 15px;
}
.bouton button{
    padding: 5px;
    border-radius: 10px;
}
.bouton button:hover{
    background-color:rgb(156, 151, 149);
}
.home{
    width: 60px;
}
footer 
{
    display: flex;
    justify-content: center;
    color:black;
    width: 100%;
}
img{
    width: 120px;
}




